.converter {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;

  background-color: #fff;
  padding: 80px 40px;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(#6f7995, .2);
  &__from {
    position: relative;
  }
  &__from,
  &__to {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(50% - 10px)
  }
  &__input-container {
    position: relative;
  }
  &__symbol {
    position: absolute;
    top: 40%;
    left: 40px;
    width: 30px;
    text-align: right;
    font-size: 22px;

  }
  &__input {
    margin-top: 10px;
    padding: 50px 50px 50px 80px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    width: 100%;
    border: 2px solid #e7e9fe;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &_from {
      background-color: #f4f9ff;
    }
    
  }
  &__unit {
    color: #6f7995;
  }

}

